/*--------- tag level ----------*/

body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 30px;
}

/*---------------------------*/


/*--------- class level --------*/

.horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.horizontal-list li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    display: inline-block;
}

.horizontal-list li a:hover {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.597);
    transition: color 0.5s;
}


.horizontal-list li {
    display: inline-block;
    padding: 0px 5px;
}

.text-center {
    text-align: center;
}

.section-header {
    width: auto;
    padding: 20px 10px 10px;
    margin: 10px auto;
    font-weight: 400;
}

.section-header span {
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}

/*---------------------------*/

/*--------- Header ----------*/

#body-header {
    height: 60vh;
    background-image: url("../assets/images/macbook_mouse.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    background-attachment: fixed;
}

/*** Navigation ***/

#header-nav {
    margin-top: 0px;
    overflow: hidden;
}

/*** *** ** *** ***/

#header-name {
    color: white;
    font-family: sans-serif;
    word-spacing: 2px;
    letter-spacing: 1px;
}

/*** Social ***/

#name-social-container {
    margin-top: 20vh;
}

#my-name {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.social-icons li {
    border-radius: 50%;
    margin: 0px 5px;
}

.social-icons li:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

.social-icons li i {
    font-size: 2rem;
}

/***** *  *****/

/*---------------------------*/

/********* about ************/

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 5vh 0;
}

section:nth-child(2n) {
    background-color: rgb(179, 179, 179);
}

section:nth-child(2n+1) {
    background-color: white;
}

#about {
    height: auto;
    width: 100%;
    position: relative;
}

#about-img {
    height: 15rem;
    width: 15rem;
    margin: auto;
    margin-top: -18vh;
}

#about-img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: medium solid white;
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.9);
}

#about-info {
    height: auto;
    width: 70%;
    margin: auto;
    font-size: 2rem;
    color: grey;
}

#skills-display {
    width: 70vw;
    display: flex;
    flex-direction: row;
    color: white;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-progress {
    width: 10rem;
    height: 2.5rem;
    margin: 5px 10px;
    border-radius: 1.5rem;
    background-color: lightgrey;
    overflow: hidden;
}

.progress70 {
    width: 70%;
    height: inherit;
}

.bluebg {
    background-color: skyblue;
}

.redbg {
    background-color: rgb(219, 57, 57);
}

.orangebg {
    background-color: rgb(238, 177, 63);
}

.greenbg {
    background-color: rgb(79, 192, 79);
}

.skill-name span {
    color: white;
    font-size: 1.5rem;
    margin-left: 5px;
}


#portfolio-display {
    width: 70vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 50px;
    margin-bottom: 20px;
    justify-content: space-around;
}

.portfolio-proj {
    width: 300px;
    height: auto;
}

.portfolio-proj>div {
    width: 90%;
    height: 90%;
}

.portfolio-img1 {
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000025_1550237330_codezen_2.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.portfolio-img2 {
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000024_1550237299_codezen.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.portfolio-proj:hover .init-hidden {
    background-color: black;
    border-radius: 1.2rem;
    opacity: 0.6;
    visibility: visible;
}

.init-hidden {
    visibility: hidden;
}

.port-para {
    padding: 10px;
    ;
}

.port-para span {
    color: white;
    font-size: 1rem;
}



/********** Contact Section **********/

#contact {
    background-image: linear-gradient(45deg, #2857a4, #403066);
    color: white;
    padding-bottom: 40px;
}

#contact h1,
#contact h1 span {
    color: white;
}

#contact-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 5px
}

#contact-container>div {
    width: 50%;
}

#contact-form-container {
    padding: 10px;
    font-size: 5rem;
    text-align: center;
}

#contact-form-container ::placeholder {
    color: white
}

#contact-form-container .trans {
    color: white;
    background-color: transparent;
}

#contact-form-container .input-form {
    width: 15rem;
    height: 2rem;
    border: 0;
    border-bottom: 1px solid white;
}

#contact-form-container button {
    width: 10rem;
    border: 1px solid white;
    height: 2rem;
    border-radius: 1.1rem;
}

#contact-form-container button:hover {
    background: white;
    color: #13386fe0;
}

#my-details-container {
    display: flex;
    flex-direction: column;
    color: #d9dcdd;
    font-size: 0.9rem;
}

#my-details-container h3 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}

.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
    font-size: 1rem;
}

.my-details-info-container span {
    margin-left: 0.4rem;
}

.my-details-info-container i {
    color: white;
}

#contact .social-icons li a i {
    font-size: 1.2rem;
    margin: 10px 10px 10px;
    padding: 10px;
    box-shadow: none;
}

/******* TIMeLINE *******/

.timeline {
    padding: 1%;
    border: 1px solid black;
    width: 90vw;
    height: auto;
    position: relative;
}

.timeline-box {
    position: relative;
    padding: 1px;
    width: 47%;
    font-size: 1.1rem;
}

.timeline-box:nth-child(2n) {
    left: 52%;
}

.timeline-box:nth-child(2n):before {
    content:'';
    position: absolute;
    top:25%;
    left:-5.1%;
    border-radius:50%;
    border:5px solid lightblue;
}

.timeline-box:nth-child(2n+1) {
}

.timeline-box:nth-child(2n+1)::before {
    content:'';
    position: absolute;
    top:25%;
    right:-6.8%;
    border-radius:50%;
    border:5px solid lightblue;
}

.timeline-divider {
    position: absolute;
    top: 12%;
    left: 50%;
    border: 2px dashed lightblue;
    width:0;
    height: 70%;
    padding:0;
}

.timeline-traveller {
    position:sticky;
    color:black;
    left:0;
    top:10%;
    transform: rotate(90deg);
}